$color1: #07df70;
$color2: #404040;
$color3: #0f81ff;
$color4: #f8f8f8;
$color5: #ff4340;

.Map {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .mapContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
    .topElments{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .circleButtonContainer{display: flex;}
        .ToggleSwitchContainer{display: flex;}
    }
    .bottomElments{
      border: 1px solid blue;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:20px;
    }
  
}
